.card {
  margin: 1px;
}

#page-header {
  text-align: center;
  padding: 18px;
}

#btn-about{
  position: fixed;
    bottom: 5;
    right: 5;
    opacity: 0.5;
}

footer {
  padding: 10px;
  color: #ccc;
}

footer a {
  color: #ccc!important;
}

.card.matrix-top{
   background-color: #131F2C;
   border-color: #131F2C;"
   height: 4em!important;
}

.card-grey{
  background-color: grey!important;
}

.card-grey .card-footer{
  background-color: grey!important;
}

.card.matrix-top h5 {
  color: #eee;
}

.card p {
  color: #666;
}

.card.card-inverse p {
  color: #FFF!important;
}

.card.matrix-corner {
   height: 4em!important;
   border: none;
}

.card-group {
  width: 100%;
}

.card-skill-group button {
  margin-top:20px;
}

.btn-xs, .btn-group-xs > .btn {
  padding: 0.20rem 0.4rem;
  font-size: 0.700rem;
  border-radius: 0.1.5rem;
  cursor: pointer;
}

.btn-skillset, .btn-resources {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4px;
}

.nav-link {
  color: #131F2C;
  font-weight: bold!important;
}

.nav-link.active {
  background-color: #131F2C!important;
}


.card-danger {
  background-color: #263F5D;
  border-color: #263F5D;
}

.card-primary {
  background-color: #2B688E;
  border-color: #2B688E;
}

.card-info {
  background-color: #6EA9C3;
  border-color: #6EA9C3;
}

.card-success {
  background-color: #B8D2DD;
  border-color: #B8D2DD;
}

.card.i-3.l-0 {
  opacity: 0;
}

.card.i-2.l-0 {
  opacity: 0;
}

.group-Template {
  opacity: 0;
}

.Template {
  opacity: 0;
}

iframe {
      display: block;
      margin: 0 auto;
      width: 100%;
      border: none;
      height: 70%;
    }


.card-blockquote a{
  color: #fff;
}
